
<div class="alert alert-warning" ng-show="files == null">
    Please wait... Application is currently listing files from directory {{currentDirectoryPath}}.
</div>
<div ng-show="files != null">
    <ul class="list-group">
        <li class="list-group-item" ng-click="goBack()">
            <span class="glyphicon glyphicon-option-horizontal" aria-hidden="true"></span>
        </li>
        <li class="list-group-item" ng-repeat="file in files" >
            <span ng-click="goTo(file)">
                <span class="glyphicon glyphicon-folder-open" ng-show="file.type == 'DIRECTORY'" aria-hidden="true" ></span>
                <span class="glyphicon glyphicon-duplicate" ng-show="file.type != 'DIRECTORY'" aria-hidden="true"></span>
                {{ file.fileName }}
            </span>
            <span class="pull-right" ng-show="file.type != 'DIRECTORY'">
                <span class="badge" ng-show="sessions.getGoogle() != null" aria-hidden="true" ng-click="syncGoogle(file)">sync -> Google</span>
                <span class="badge" ng-show="sessions.getOneDrive() != null" aria-hidden="true" ng-click="syncOneDrive(file)">sync -> OneDrive</span>
            </span>
        </li>
    </ul>
</div>
<button class="btn btn-default" ng-click="syncGoogle({fileName : 'testName'})">Open me!</button>
<div ng-show="selected">Selection from a modal: {{ selected }}</div>

