<h2>Google Cloud</h2>
<br/>
<div class="alert alert-warning" ng-show="files == null">
    Please wait... Application is currently listing files from directory {{ currentDirectoryPath.path }}.
</div>

<div ng-show="files != null">
    <img src="/static/app/images/google-drive-logo.png" class="img-responsive" alt="GoogleDrive" style="width: 20%"/>
    <ul class="list-group">
        <li class="list-group-item" ng-click="goBack()">
            <span class="glyphicon glyphicon-option-horizontal" aria-hidden="true"></span>
        </li>
        <li class="list-group-item" ng-repeat="file in files" >
            <span ng-click="goTo(file)">
                <span class="glyphicon glyphicon-folder-open" ng-show="file.type == 'DIRECTORY'" aria-hidden="true" ></span>
                <span class="glyphicon glyphicon-duplicate" ng-show="file.type != 'DIRECTORY'" aria-hidden="true"></span>
                {{ file.fileName }}s
            </span>
            <span class="pull-right" ng-show="file.type != 'DIRECTORY'">
                <span class="label label-primary" ng-show="sessions.getDropbox() != null" aria-hidden="true" ng-click="syncDropbox(file)">Synchronize with Dropbox</span>
                <span class="label label-primary" ng-show="sessions.getOneDrive() != null" aria-hidden="true" ng-click="syncOneDrive(file)">Synchronize with OneDrive</span>
            </span>
        </li>
    </ul>
</div>