<h2>OneDrive Cloud</h2>
<br/>

<div>
    <ul class="list-group">
        <li class="list-group-item" ng-click="goBack()">
            <span class="glyphicon glyphicon-option-horizontal" aria-hidden="true"></span>
        </li>
        <li class="list-group-item" ng-repeat="file in files" >
            <span class="glyphicon glyphicon-folder-open" ng-show="file.type == 'DIRECTORY'" aria-hidden="true" ng-click="goTo(file)"></span>
            <span class="glyphicon glyphicon-duplicate" ng-show="file.type != 'DIRECTORY'" aria-hidden="true"></span>
            {{ file.fileName }}
            <span class="pull-right" ng-show="file.type != 'DIRECTORY'">
                <span class="badge" ng-show="sessions.getGoogle() != null" aria-hidden="true" ng-click="syncGoogle(file)">sync -> Google</span>
                <span class="badge" ng-show="sessions.getDropbox() != null" aria-hidden="true" ng-click="syncDropbox(file)">sync -> Dropbox</span>
            </span>
        </li>
    </ul>
</div>